*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: general sans;
    color: white;

}

html,body{
    height: 100%;
    width: 100%;
}
.flex{
    display: flex;
}
.circle{
    height: 20px;
    width: 20px;
    background-color: #95c11e;
    position: fixed;
    border-radius: 50%;
    z-index: 33;
    transition: all;
    transition-duration: 4s ;
    transition: cubic-bezier(0,0.02,.52,1.37);
}
.circle-b{
    height: 350px;
    width: 350px;
    background-color: #96c11e58;
    position: fixed;
    border-radius: 50%;
    z-index: 9;
    filter: blur(60px);
    transition: all 5 ease-in;
}

.nav{
    width: 100%;
    height: 140px;
    padding: 0 5rem;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    /* background-color: red; */
    position: fixed;
    z-index: 99;

}
.nav img{
    height: 4rem;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
.main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.55);
   
    
}

.page1{
    height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    z-index: 10;

}
.page1 h1{
    font-size: 120px;
    font-weight: 900;
    position: relative;
    /* text-shadow: -5px -5px black; */
}
.page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -5px;
    left: -5px;
    z-index: -1;
    -webkit-text-stroke: 1px #95c11e;
}
.page1 h2{
    font-size: 40px;
    font-weight: 800;
}
.page1 h3{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    width: 60%;
}
.page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
    /* overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: transparent;
} */
}
.scroller{
    white-space: nowrap;
    position: relative;
    z-index: 10;
    overflow-x: hidden;
    overflow-y:auto ;
}
.scroller-in{
   animation-name: scrol;
   animation-duration: 30s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;

    white-space: nowrap;
    display: inline-block;
  
}

.scroller h3{
    display: inline-block;
    font-size: 100px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2rem;
    -webkit-text-stroke: 2px  #95c11e;
    color: transparent;
    transition: all .5s;
}
.scroller-in h3:hover{
    color: #95c11e;
}
@keyframes scrol {
    form{
        transform: translatex(0);
    
    }to{
        transform: translatex(-100%);
    }
    
    
}


.about-us{
    margin-top: 5rem;
    padding: 0 5rem;
    position: relative;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
}
.about{
    flex-direction: column;
    gap: 1rem;
    flex-basis: 50%;
    text-align: center;
}
.about h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    font-family:'Montserrat', sans-serif;

}
.about p {
    font-size: 1.18rem;
    font-weight: 400;
}
.about-us img {

    border-radius: 20px;
    width: 150px;
    height: 200px;
    object-fit: cover;
}



.card-container{
    /* background-color: red; */
    padding: 0rem 5rem;
    width: 100%;
    height: 60vh;
    justify-content: space-around;
    align-items: center;
    /* gap: 60px; */
    margin-bottom: 3rem;
    position: relative;
    z-index: 10;
}
.card{
    margin-top: 8vh;
    background-color: blue;
    height: 80%;
    width: 25%;
    border-radius: 10px;
    overflow: hidden;
    transition: all ease 0.6;
}
.card1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-768x512.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    background-size: cover;
    background-position: center;
    transition: all .6s;
}
.card2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-150x150.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    background-size: cover;
    background-position: center;
    transition: all .6s;
}
.card3{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    background-size: cover;
    background-position: center;
    transition: all .6s;
}
.overly{
    height: 100%;
    width: 100%;
    background-color:#95c11e;
    padding: 1rem;
    padding-top: 100px;
    color: black;
    opacity: 0;
    transition: all ease 0.6;

}
.overly h1{
    margin-bottom: 1rem;
    color: black;
    font-weight: 900;
}
.overly p {
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}

.card:hover .overly{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}
.green-box{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background:linear-gradient(to left bottom,#039c3d,#95c11e)

}
.green-box img{
    height: 60vh;
    object-fit: cover;
}
.green-box h1{
    flex-basis: 50%;
    font-size: 2rem;text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
}
#imggg{
    transform: rotate(180deg);
}


.page3{
    height: 100vh;
    width: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    position: relative;
}
.page3>p{
    font-size: 2rem;
    flex-basis: 45%;
    text-align: center;

}
.page3 img{
    height: 5rem;
    position: absolute;
}
#ghgh{
    bottom: 200px;
    right: 200px;
}
#hghg{
    top: 200px;
    left: 200px;
    
}
.page44{
    height: 56vh;
    background:linear-gradient(to left bottom,#039c3d,#95c11e,#95c11e);
    padding: 0 2rem;
    
}

.page4{
    position: relative;
    height: 40vh;
    width: 100%;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    color: black;
}
.page4 div h1{
    color:black;
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

.page4>div>img{
    height: 100px;
   
}
.page4>img{
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.page4>div>p{
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}
.page44 p{
    padding-top: 1.5rem;
    color: black;
    font-size: 1.3rem;
    font-weight: 400;
}
.page44 > h3{
    margin-top: 3rem;
    text-align: right;
    color:black;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}